.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: none;
}

.spinner {
  display: inline-block;
  transform: translateZ(1px);

  & > div {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 6px;
    border-radius: 50%;
    background: url('../img/dropdown-background.jpg') no-repeat 100% 100%;
    animation: spin 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
}

@keyframes spin {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
