h1 {
  @include font-type($schoolBellReg, $brand, 36px, 42px, 1px);
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

h2 {
  @include font-type($schoolBellReg, $brand, 28px, 34px, 1px);
  margin-bottom: 20px;
}

// Buttons
.buttonStyled {
  background: url('../img/dropdown-background.webp') no-repeat 100% 100%;
  outline: none;
  margin: 0;
  padding: 10px 20px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  box-shadow: 0 10px 15px 0 rgba(1, 1, 1, 0.5);
  border: 1px solid rgba(222, 222, 222, 0.5);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  @include font-type($schoolBellReg, $brand, 18px, 24px, 0);

  @include respond-to(xs) {
    width: 100%;
  };

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 10px 15px 0 rgba(1, 1, 1, 0.8);
    opacity: 0.8;
  }

  &:active {
    box-shadow: 0 10px 15px 0 rgba(1, 1, 1, 0.8);
    opacity: 0.5;
  }
}

button.start-game {
  @extend.buttonStyled;

  width: 100%;
}

button.new-game {
  @extend.buttonStyled;

  width: 150px;
}

// Inputs
.play-pause-checkbox {
  z-index: 2;

  input[type="checkbox"] {
    display: none;

    & + label {
      @extend.buttonStyled;

      width: 150px;
    }
  }
}

.backdrop {
  @include font-type($schoolBellReg, $light, 36px, 42px, 1px);

  background: rgba(1, 1, 1, 0.8);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity ease-in-out 0.2s, height ease-in-out 0.4s;

  &.hidden {
    height: 0;
    opacity: 0;
  }
}

.side-drawer {
  top: 100%;
  position: absolute;
  padding: 0 40px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;

  .drawer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: max-height ease-in-out 0.4s;
    max-height: 100vh;
    border: 2px solid $black;
    background: rgba(1, 1, 1, 0.8);
    box-shadow: 0 33px 40px 0 $black;

    &.hidden {
      max-height: 0;
      border: none;
    }
  }
}

.rules-box {
  li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 4px;
      border-radius: 2px;
      border: 1px solid green;
      background: $brand;
      position: absolute;
      left: 0;
      top: 8px;
    }

    ul > li {
      padding: 0;

      &::before {
        content: none;
      }
    }

    span {
      @include font-type($schoolBellReg, $light, 18px, 24px, 0);
      display: block;

      @include respond-to(md) {
        @include font-type($schoolBellReg, $light, 12px, 28px, 0);
      };
    }
  }
}

.description-box {
  padding: 50px;
  width: 100%;
  box-sizing: border-box;
  max-height: 80vh;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  span {
    @include font-type($schoolBellReg, $brand, 24px, 24px, 0);

    text-align: center;

    &.total-time-label,
    &.total-clicks-label {
      @include font-type($schoolBellReg, $brand, 36px, 42px, 0);

      font-weight: bold;
      margin: 0 20px;
    }
  }

  .try-again-button {
    @include font-type($schoolBellReg, $brand, 36px, 42px, 0);

    border: none;
    background: none;
    margin-top: 100px;
    display: block;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    outline: none;

    &:hover {
      color: $light;
      opacity: 0.8;
    }
  }
}

.rules-box {
  .description-box {
    justify-content: flex-start;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.game-over-box {
  .description-box {
    justify-content: center;
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .control-item {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &.hidden {
        display: none;
      }

      &.difficulty-controls {
        width: auto;

        @include respond-to(md) {
          width: auto;
        };
      }

      &.new-game-controls {
        width: 200px;

        @include respond-to(xs) {
          width: 100%;
        };
      }

      &.process-controls {
        width: 100%;

        button {
          max-width: 350px;
        }
      }
    }
  }
}

.dropdown {
  width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include respond-to(lg) {
    width: 300px;
  };

  @include respond-to(md) {
    width: 220px;
  };

  @include respond-to(xs) {
    width: 100%;
  };

  button {
    @extend.buttonStyled;

    .dropdown-label {
      @include font-type($schoolBellReg, $brand, 18px, 24px, 1px);

      display: flex;
      align-items: center;
      font-weight: bold;
      height: 25px;
      margin-left: auto;

      img {
        height: 100%;
      }
    }
  }

  .radio-set {
    max-height: 0;
    overflow-y: hidden;
    background: url('../img/dropdown-background.webp') top center no-repeat / cover;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transition: max-height ease-in-out 0.4s;

    input[type='radio'] {
      display: none;

      & + span {
        display: block;
        padding: 25px 20px;
        color: navajowhite;
        font-size: 31px;
        text-transform: uppercase;
        text-align: right;
        font-weight: bolder;
        transition: all ease-in-out 0.4s;

        &:hover {
          background: linear-gradient(
              to right,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0.43) 89%,
            rgba(0, 0, 0, 0.43) 98%,
            rgba(0, 0, 0, 1) 100%
          );
          opacity: 0.7;
        }
      }

      &:checked + span {
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0.63) 89%,
            rgba(0, 0, 0, 0.63) 98%,
            rgba(0, 0, 0, 1) 100%
        );
      }
    }
  }

  &.opened {
    button {
      opacity: 0.8;
      transition: opacity ease-in-out 0.4s;

      &::hover {
        opacity: 1;
      }
    }

    .radio-set {
      z-index: 1;
      max-height: 300px;
    }
  }
}

.asd {
  position: relative;
  width: 80%;
  margin: 0 auto;

  .content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: red;
  }
}

.cards-table {
  perspective: 2000px;
  width: 100%;
  position: relative;
  padding-top: 70.25%;

  .solitaire {
    @include respond-to(sm) {
      padding: 20px;
      grid-gap: 10px 10px;
    };

    box-sizing: border-box;
    display: grid;
    grid-gap: 20px 20px;
    transform: rotateX(50deg) skew(1deg);
    background: url('../img/table.jpg') no-repeat center center / cover;
    padding: 50px;
    box-shadow: 0 23px 30px 0 $black;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.card-box {
  height: 100%;
  width: 100%;

  .card {
    perspective: 150rem;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &__side {
      height: 100%;
      transition: all 0.8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 8px;
      box-shadow: 7px 10px 9px -6px $black;

      &--back {
        transform: rotateY(180deg);
      }
    }

    &.rotateCardNow .card__side--front {
      transform: rotateY(-180deg);
    }

    &.rotateCardNow .card__side--back {
      transform: rotateY(0);
    }

    &__picture {
      background-size: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
  }
}

.timer-box,
.counter-box {
  opacity: 1;
  transition: all ease-in-out 0.4s;
  border: 2px solid $brand;
  border-radius: 6px;
  background: url('../img/table.jpg') no-repeat center center / cover;
  font-weight: bold;
  box-shadow: 1px 11px 25px 12px $black;
  display: flex;

  &.hidden {
    opacity: 0;
    display: none;
  }
}

.timer-box {
  @include respond-to(xs) {
    order: 2;
    margin: 0 auto;
  };
}

.counter-box {
  margin: 20px 0;
}

.total-clicks-screen {
  padding: 0 20px;
}

.timer-screen {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .time-label {
    @include font-type($schoolBellReg, $brand, 24px, 28px, 5px);

    .minutes,
    .seconds {
      @include font-type($schoolBellReg, $light, 24px, 28px, 5px);
    }

    &.hidden {
      display: none;
    }
  }
}

.total-clicks-screen {
  @include font-type($schoolBellReg, $brand, 24px, 28px, 5px);

  .total {
    @include font-type($schoolBellReg, white, 30px, 36px, 0);

    margin: 0 10px;
  }
}

input[type='button'] {
  @extend.buttonStyled;
}
