h1 {
  @include font-type($schoolBellReg, $brand, 36px, 42px, 1px);
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

h2 {
  @include font-type($schoolBellReg, $brand, 28px, 34px, 1px);
  margin-bottom: 20px;
}

// Buttons
.buttonStyled {
  @include font-type($schoolBellReg, $brand, 18px, 24px, 0px);

  background: url('../img/dropdown-background.jpg') no-repeat 100% 100%;
  outline: none;
  margin: 0;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  height: 50px;
  box-shadow: 0 10px 15px 0 rgba(1, 1, 1, 0.5);
  border: 1px solid rgba(222, 222, 222, 0.5);
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 120px;
  width: 100%;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 10px 15px 0 rgba(1, 1, 1, 0.8);
    opacity: .8;
  }
}

button.start-game {
  @extend .buttonStyled;
}

button.new-game {
  @extend .buttonStyled;
}

// Inputs
.play-pause-checkbox {
  z-index: 2;

  input {
    display: none;
  }

  input {
    & + label {
      @extend .buttonStyled;
    }
  }
}

.backdrop {
  background: rgba(1, 1, 1, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-type($schoolBellReg, $light, 36px, 42px, 1px);
  opacity: 1;
  transition: opacity ease-in-out .2s;

  &.hidden {
    height: 0;
    opacity: 0;
  }
}

.side-drawer {
  top: 100%;
  position: absolute;
  background: rgba(1, 1, 1, .8);
  box-shadow: 0 33px 40px 0 $black;
  width: calc(100% - 80px);

  .drawer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: max-height ease-in-out .4s;
    max-height: 100vh;
    border: 2px solid $black;

    &.hidden {
      max-height: 0;
      border: none;
    }

    .description-box {
      padding: 50px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.rules-box {
  li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 4px;
      border-radius: 2px;
      border: 1px solid green;
      background: $brand;
      position: absolute;
      left: 0; top: 8px;
    }

    span {
      @include font-type($schoolBellReg, $light, 18px, 24px, 0);
      display: block;
    }
  }
}

.game-over-box {
  .description-box {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  span {
    @include font-type($schoolBellReg, $brand, 24px, 24px, 0);
    text-align: center;

    &.total-clicks-label {
      @include font-type($schoolBellReg, $brand, 36px, 42px, 0);
      font-weight: bold;
      margin: 0 20px;
    }
  }

  .try-again-button {
    border: none;
    background: none;
    margin-top: 100px;
    display: block;
    @include font-type($schoolBellReg, $brand, 36px, 42px, 0);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    outline: none;

    &:hover {
      color: $light;
      opacity: 0.8;
    }
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 10px 0 $black;
  padding: 0 20px;

  .controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0;

    .control-item {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &.hidden {
        display: none;
      }

      &.difficulty-controls {
        width: 70%;
      }

      &.new-game-controls {
        width: 15%;
      }

      &.process-controls {
        width: 100%;

        button {
          max-width: 350px;
        }
      }
    }
  }

  .timer-box {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: calc(100% + 40px);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 1;
    transition: all ease-in-out 0.4s;

    &.hidden {
      opacity: 0;
      display: none;
    }
  }
}

.dropdown {
  width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;

  button {
    @extend .buttonStyled;
    position: relative;

    .dropdown-label {
      @include font-type($schoolBellReg, $brand, 18px, 24px, 1px);
      font-weight: bold;
      position: absolute;
      display: flex;
      align-items: center;
      right: 15px;
      top: 50%;
      height: 30px;
      transform: translateY(-50%);

      img {
        height: 100%;
      }
    }
  }

  &.opened {
    button {
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }

    .radio-set {
      display: block;
    }
  }

  .radio-set {
    background: url('../img/dropdown-background.jpg') top center no-repeat /
          cover;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    box-shadow: 0 23px 30px 0 $black;

    input[type='radio'] {
      display: none;

      & + span {
        display: block;
        padding: 25px 20px;
        color: navajowhite;
        font-size: 31px;
        text-transform: uppercase;
        text-align: right;
        font-weight: bolder;
        transition: all ease-in-out .2s;

        &:hover {
          background: linear-gradient(
              to right,
              rgba(0, 0, 0, 0) 25%,
              rgba(0, 0, 0, .43) 89%,
              rgba(0, 0, 0, .43) 98%,
              rgba(0, 0, 0, 1) 100%
          );
          opacity: .7;
        }
      }

      &:checked + span {
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, .63) 89%,
            rgba(0, 0, 0, .63) 98%,
            rgba(0, 0, 0, 1) 100%
        );
      }
    }
  }
}

.cards-table {
  perspective: 2000px;

  .solitaire {
    box-sizing: border-box;
    display: grid;
    grid-gap: 20px 20px;
    transform: rotateX(50deg) skew(1deg);
    background: url('../img/table.jpg') no-repeat center center / cover;
    padding: 50px;
    box-shadow: 0 23px 30px 0 $black;
    width: 100%;
    min-width: 940px;
    min-height: 620px;
    align-items: center;
  }
}

.card-box {
  height: 250px;
  width: 150px;

  .card {
    perspective: 150rem;
    position: relative;
    width: 100%;
    height: 250px;
    cursor: pointer;

    &__side {
      height: 250px;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 8px;
      box-shadow: 7px 10px 9px -6px $black;

      &--back {
        transform: rotateY(180deg);
      }
    }

    &.rotateCardNow .card__side--front {
      transform: rotateY(-180deg);
    }

    &.rotateCardNow .card__side--back {
      transform: rotateY(0);
    }

    &__picture {
      background-size: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
  }
}

.timer,
.total-clicks-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  @include font-type($schoolBellReg, $light, 22px, 24px, 5px);
  border: 2px solid $brand;
  border-radius: 6px;
  background: url('../img/table.jpg') no-repeat center center / cover;
  font-weight: bold;
  box-shadow: 1px 11px 25px 12px $black;
}

.total-clicks-counter {
  width: 100px;
  margin-right: 20px;
}

.timer {
  width: 200px;
}

.logo {
  background: url('../img/logo.jpg') center center no-repeat / cover;
  width: 50px;
  height: 50px;
  transform: rotate(154deg);
  display: block;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

input[type='button'] {
  @extend .buttonStyled;
}
