// Используй это миксин для всего конфига!
@mixin font-type($font-family, $color, $font-size, $line-height, $letter-spacing) {
	font-family: $font-family;
	color: $color;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

//Fonts
@mixin font-face($folder, $file, $font-family) {

  @font-face {
    font-family: $font-family;
    src: url('../fonts/' + $folder + '/' + $file + '.eot');
    src: url('../fonts/' + $folder + '/' + $file + '.eot') format('embedded-opentype'),
    url('../fonts/' + $folder + '/' + $file + '.woff2') format('woff2'),
    url('../fonts/' + $folder + '/' + $file + '.woff') format('woff'),
    url('../fonts/' + $folder + '/' + $file + '.ttf') format('truetype'),
    url('../fonts/' + $folder + '/' + $file + '.svg##{$file}') format('svg');      
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
      src: url('../fonts/' + $folder + '/' + $file + '.svg##{$file}') format('svg');
    }
  }
}

// FONTS
@include font-face(PTSansRegular,PTSansRegular,PTSansRegular);
@include font-face(PTSansBold,PTSansBold,PTSansBold);
@include font-face(PTSerifProBold,PTSerifProBold,PTSerifProBold);

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

// VARIABLES
$sans_reg: PTSansRegular;
$sans_bld: PTSansBold;
$serif_bld: PTSerifProBold;


//backgrounds
$brand_bg: #f7f8f4;

//buttons

//text and colors
$dark: #404041;

// helpers
$big_number: #f3f3f3;
$big_number_active: #f5f9e0;

h1, h2, h3, h4 {margin: 0;}
ul {margin-bottom: 0;}

body {
	&.onload {overflow:hidden;}

	/* устанавливаем оптимальный вертикальный ритм */

	/* сглаживание шрифтов в вебките */
	-webkit-font-smoothing: subpixel-antialiased;
			font-smoothing: subpixel-antialiased;
}

a {
  text-decoration: none;
  transition: all ease-in-out .2s;
  cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
  }
}

address {
  margin-bottom: 0;
}

form {
	input,
	select,
	textarea {
		-webkit-appearance: none;
		text-overflow: ellipsis;
		outline: none;

		&:focus,
		&:active {
			text-overflow: ellipsis;
		}
	}

	textarea {
    	resize: vertical;
	}
}

input,
select,
textarea,
label {cursor: pointer;}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* выделение текста */
::-moz-selection {
    background: rgba(1, 47, 32, 0.7);
    text-shadow: none;
    color: white;
}

::selection {
    background: rgba(1, 47, 32, 0.7);
    text-shadow: none;
    color: white;
}


// =======================================================================// 
//                           Миксин адаптации                             //        
// =======================================================================// 
@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: 481px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == md {
   @media only screen and(max-width: 991px) { @content; }
  }
  @else if $media == lg {
   @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: 1300px) { @content; }
  }
}