.app {
  overflow: hidden;
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: minmax(320px, 1fr);
  grid-template-rows: min-content;
  background: url('../img/grass_background.jpg') center center no-repeat / cover;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}

header {
  position: relative;

  .header-top {
    background: url('../img/table.jpg') no-repeat center center / cover;
    box-shadow: 0 5px 10px 0 $black;
    border-bottom: 1px solid $black;
    padding: 5px 0;
    position: relative;
    z-index: 2;
  }
}

section {
  &.wr {
    &-card-board {
      display: flex;

      .table-holder {
        @include respond-to(sm) {
          width: 90%;
        };

        width: 60%;
      }
    }
  }
}
