@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: PTSansRegular;
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff2") format("woff2"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype"), url("../fonts/PTSansRegular/PTSansRegular.svg#PTSansRegular") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: PTSansRegular;
    src: url("../fonts/PTSansRegular/PTSansRegular.svg#PTSansRegular") format("svg"); } }

@font-face {
  font-family: PTSansBold;
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff2") format("woff2"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype"), url("../fonts/PTSansBold/PTSansBold.svg#PTSansBold") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: PTSansBold;
    src: url("../fonts/PTSansBold/PTSansBold.svg#PTSansBold") format("svg"); } }

@font-face {
  font-family: PTSerifProBold;
  src: url("../fonts/PTSerifProBold/PTSerifProBold.eot");
  src: url("../fonts/PTSerifProBold/PTSerifProBold.eot") format("embedded-opentype"), url("../fonts/PTSerifProBold/PTSerifProBold.woff2") format("woff2"), url("../fonts/PTSerifProBold/PTSerifProBold.woff") format("woff"), url("../fonts/PTSerifProBold/PTSerifProBold.ttf") format("truetype"), url("../fonts/PTSerifProBold/PTSerifProBold.svg#PTSerifProBold") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: PTSerifProBold;
    src: url("../fonts/PTSerifProBold/PTSerifProBold.svg#PTSerifProBold") format("svg"); } }

h1, h2, h3, h4 {
  margin: 0; }

ul {
  margin-bottom: 0; }

body {
  /* устанавливаем оптимальный вертикальный ритм */
  /* сглаживание шрифтов в вебките */
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased; }
  body.onload {
    overflow: hidden; }

a {
  text-decoration: none;
  -webkit-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  cursor: pointer; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

address {
  margin-bottom: 0; }

form input,
form select,
form textarea {
  -webkit-appearance: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  outline: none; }
  form input:focus, form input:active,
  form select:focus,
  form select:active,
  form textarea:focus,
  form textarea:active {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }

form textarea {
  resize: vertical; }

input,
select,
textarea,
label {
  cursor: pointer; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* выделение текста */
::-moz-selection {
  background: rgba(1, 47, 32, 0.7);
  text-shadow: none;
  color: white; }

::selection {
  background: rgba(1, 47, 32, 0.7);
  text-shadow: none;
  color: white; }

/*********************************/
/************* Helpers ***********/
/*********************************/
.container {
  width: 80%;
  margin: 0 auto; }

/*********************************/
/************ Buttons ************/
/*********************************/
/*********************************/
/************* Inputs ************/
/*********************************/
/*********************************/
/********** Typography ***********/
/*********************************/
h1 {
  font-family: PTSerifProBold;
  color: #404041;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0px; }

p {
  font-family: PTSansRegular;
  color: #404041;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px; }

/*********************************/
/************* Links *************/
/*********************************/
/*************************************/
/*********** Same blocks *************/
/*************************************/
/*************************************/
/*********** Sections ****************/
/*************************************/
.header {
  background: #f7f8f4; }
  .header .navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header .navigation button:last-child {
      margin-left: auto; }

.footer {
  background: #f7f8f4; }

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  width: 100px;
  height: 250px;
  cursor: pointer; }
  .card__side {
    background-color: #fff;
    color: #fff;
    font-size: 2rem;
    height: 250px;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
        background-image: -webkit-linear-gradient(left top, #ffb900, #ff7730);
        background-image: -o-linear-gradient(left top, #ffb900, #ff7730);
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card.jsRoatateCard .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .card.jsRoatateCard .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  .card__picture {
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
    .card__picture img {
      width: 100%;
      height: 100%;
      -webkit-border-radius: 8px;
      border-radius: 8px; }

.wr-card-board {
  background: url("../img/table.jpg") no-repeat center center/cover; }
  .wr-card-board .container, .wr-card-board .card-board {
    height: 100%; }
  .wr-card-board .card-board {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .wr-card-board .card-board .card {
      width: 10%;
      margin: 1%; }

.header {
  height: 5vh; }
  .header .nav-item-dropdown {
    width: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header .nav-item-dropdown .nav-item-radio-set {
      background: lightgray;
      display: none;
      position: relative;
      z-index: 2; }
      .header .nav-item-dropdown .nav-item-radio-set.opened {
        display: block; }
      .header .nav-item-dropdown .nav-item-radio-set input[type="radio"] {
        display: none; }
        .header .nav-item-dropdown .nav-item-radio-set input[type="radio"] + span {
          display: block;
          text-align: center;
          padding: 20px 0; }
        .header .nav-item-dropdown .nav-item-radio-set input[type="radio"]:checked + span {
          background: gray; }

.wr-card-board {
  height: 95vh; }

.app {
  min-width: 320px;
  overflow-x: hidden; }

section.wr-our_advantages {
  background: #f7f8f4;
  padding: 50px 0; }
